body{
	margin: 0px;
	padding: 0px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1 {
	font-size: 14px;
	font-weight: 100;
  	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

p{
  font-size: 10px;
  }

section.container{
  	width: 300px;
	height: 200px;
	overflow: hidden;
  	position: relative;  
  }
 
.container .left-half, .container .right-half {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  width: 50%;
  }
  
div.left-half {
  background: lightgray;
  border-radius: 5px 0 0 5px;
  }
  
div.right-half {
  background: lightgray;
  border-radius: 0px 5px 5px 0px;
  height: 200px;
  }
  
article{
  text-align: center;
  }
 article img{
	 width: 100%;
	 height: 100px;
 } 

.flip-images {
	width: 100%;
	height: 100%;
}

.flip-container{
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-ms-perspective: 600px;
	-o-perspective: 600px;
}

.flip-top{
	height: 100px;
	overflow: hidden;
	width: 300px;
}

.flip-bottom{
	position: relative;
	width: 300px;
	height: 100px;
}



.front-image-top{ 
	display: block;
	-webkit-backface-visibility: hidden; 
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	position: absolute;
	top: 0px;
	width: 300px;
	height: 100px; 
	overflow: hidden; 
	z-index: 600;
}

.front-image-bottom{ 
	height: 100px;
	width: 300px;
	overflow: hidden;
	vertical-align: bottom;
	position: absolute;
	z-index: -2;
}

.front-image-bottom section{
	position: absolute;
	top: -100px; 
}

.back-image-top{
	height: 100px;
	position: absolute;
	top: 0px;
	vertical-align: top;
	overflow: hidden;
	z-index: -1;
}

.back-image-bottom{
	display: none;
	position: absolute;
	top: 0px;
	height: 100px; 
	-moz-transform: rotateY(180deg) rotateZ(180deg); 
	-ms-transform: rotateY(180deg) rotateZ(180deg); 
	-o-transform: rotateY(180deg) rotateZ(180deg); 
	overflow: hidden;
	width: 300px;
	
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	z-index: 800;
}

.back-image-bottom section{
	position: absolute;
	top: -100px;
}

.shadow-top-front{
	position: absolute;
	background: #000;
	z-index: 1000;
	width: 300px;
	height: 100px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	opacity: 0; 
}

.shadow-top-back{
	position: absolute;
	top: 0px;
	width: 300px;
	height: 100px;
	background: #000;
	z-index: 1000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;

	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);

	opacity: 1; 
}

.shadow-bottom{
	width: 300px;
	height: 100px;
	position: absolute;
	z-index: -1;
	background: #000;
	opacity: 0;
}

@-webkit-keyframes flip{
	0% {
		-webkit-transform: rotate3d(1,0,0, 0deg);
	}
	50% {
		-webkit-transform: rotate3d(1,0,0, -180deg);
	}
	60% {
		-webkit-transform: rotate3d(1,0,0, -155deg);
	}
	70% {
		-webkit-transform: rotate3d(1,0,0, -140deg);
	}
	100% {
		-webkit-transform: rotate3d(1,0,0, -180deg);
	}
}

@-moz-keyframes flip{
	0% {	-moz-transform: rotate3d(1,0,0, 0deg);}
	50% {-moz-transform: rotate3d(1,0,0, -180deg);}
	60% {-moz-transform: rotate3d(1,0,0, -155deg);}
	70% {-moz-transform: rotate3d(1,0,0, -140deg);}
	100% {-moz-transform: rotate3d(1,0,0, -180deg);}
}

@-ms-keyframes flip{
	0% {	-ms-transform: rotate3d(1,0,0, 0deg);}
	50% {-ms-transform: rotate3d(1,0,0, -180deg);}
	60% {-ms-transform: rotate3d(1,0,0, -155deg);}
	70% {-ms-transform: rotate3d(1,0,0, -140deg);}
	100% {-ms-transform: rotate3d(1,0,0, -180deg);}
}

@-o-keyframes flip{
	0% {	-o-transform: rotate3d(1,0,0, 0deg);}
	50% {-o-transform: rotate3d(1,0,0, -180deg);}
	60% {-o-transform: rotate3d(1,0,0, -155deg);}
	70% {-o-transform: rotate3d(1,0,0, -140deg);}
	100% {-o-transform: rotate3d(1,0,0, -180deg);}
}

@-webkit-keyframes shadowTopFront {
	0% {opacity: 0;}
	70% {opacity: 1;}
	100% {opacity: 0;}
}

@-webkit-keyframes shadowTopBack {
	0% {	opacity: 0.8;}
	50% {opacity: 0;}
	60% {opacity: 0.05;}
	70% {opacity: 0.1;}
	100% {opacity: 0;}
}

@-webkit-keyframes shadowBottom {
	0% {opacity: 0;}
	50% {opacity: 0.6;}
	60% {opacity: 0.4;}
	70% {opacity: 0.3;}
	100% {opacity: 0.5;}
}

@-moz-keyframes shadowTopFront {
	0% {opacity: 0;}
	70% {opacity: 1;}
	100% {opacity: 0;}
}

@-moz-keyframes shadowTopBack {
	0% {	opacity: 0.8;}
	50% {opacity: 0;}
	60% {opacity: 0.05;}
	70% {opacity: 0.1;}
	100% {opacity: 0;}
}

@-moz-keyframes shadowBottom {
	0% {opacity: 0;}
	50% {opacity: 0.6;}
	60% {opacity: 0.4;}
	70% {opacity: 0.3;}
	100% {opacity: 0.5;}
}

@-ms-keyframes shadowTopFront {
	0% {opacity: 0;}
	70% {opacity: 1;}
	100% {opacity: 0;}
}

@-ms-keyframes shadowTopBack {
	0% {	opacity: 0.8;}
	50% {opacity: 0;}
	60% {opacity: 0.05;}
	70% {opacity: 0.1;}
	100% {opacity: 0;}
}

@-ms-keyframes shadowBottom {
	0% {opacity: 0;}
	50% {opacity: 0.6;}
	60% {opacity: 0.4;}
	70% {opacity: 0.3;}
	100% {opacity: 0.5;}
}

@-o-keyframes shadowTopFront {
	0% {opacity: 0;}
	70% {opacity: 1;}
	100% {opacity: 0;}
}

@-o-keyframes shadowTopBack {
	0% {	opacity: 0.8;}
	50% {opacity: 0;}
	60% {opacity: 0.05;}
	70% {opacity: 0.1;}
	100% {opacity: 0;}
}

@-o-keyframes shadowBottom {
	0% {opacity: 0;}
	50% {opacity: 0.6;}
	60% {opacity: 0.4;}
	70% {opacity: 0.3;}
	100% {opacity: 0.5;}
}

.flip {
	width: 300px;
	height: 100px;
	-webkit-transform-origin: bottom;
	-moz-transform-origin: bottom;
	-ms-transform-origin: bottom;
	-o-transform-origin: bottom;

	-webkit-animation: flip 1s; 
	-moz-animation: flip 1s;
	-ms-animation: flip 1s;
	-o-animation: flip 1s;

	-webkit-animation-iteration-count: 1; 
	
	-moz-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;

	-webkit-animation-timing-function: cubic-bezier(0,0,1,0.5); 
	-moz-animation-timing-function: cubic-bezier(0,0,1,0.5);
	-ms-animation-timing-function: cubic-bezier(0,0,1,0.5);
	-o-animation-timing-function: cubic-bezier(0,0,1,0.5);

	-webkit-transform: rotate3d(1,0,0, 180deg); 
	-moz-transform: rotate3d(1,0,0, 180deg);
	-ms-transform: rotate3d(1,0,0, 180deg);
	-o-transform: rotate3d(1,0,0, 180deg);
}

.shadow-top-front-animate{
	-webkit-animation: shadowTopFront 1s;
	-moz-animation: shadowTopFront 1s;
	-ms-animation: shadowTopFront 1s;
	-o-animation: shadowTopFront 1s;

	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;

	-webkit-animation-timing-function: cubic-bezier(0,0,1,0.5);
	-moz-animation-timing-function: cubic-bezier(0,0,1,0.5);
	-ms-animation-timing-function: cubic-bezier(0,0,1,0.5);
	-o-animation-timing-function: cubic-bezier(0,0,1,0.5);

	opacity: 0;
}

.shadow-top-back-animate{
	-webkit-animation: shadowTopBack 1s;
	-moz-animation: shadowTopBack 1s;
	-ms-animation: shadowTopBack 1s;
	-o-animation: shadowTopBack 1s;

	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;

	-webkit-animation-timing-function: cubic-bezier(0,0,1,0.5);
	-moz-animation-timing-function: cubic-bezier(0,0,1,0.5);
	-ms-animation-timing-function: cubic-bezier(0,0,1,0.5);
	-o-animation-timing-function: cubic-bezier(0,0,1,0.5);

	opacity: 0;
}

.shadow-bottom-animate{
	-webkit-animation: shadowBottom 1s;
	-moz-animation: shadowBottom 1s;
	-ms-animation: shadowBottom 1s;
	-o-animation: shadowBottom 1s;

	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;

	-webkit-animation-timing-function: cubic-bezier(0,0,1,0.5);
	-moz-animation-timing-function: cubic-bezier(0,0,1,0.5);
	-ms-animation-timing-function: cubic-bezier(0,0,1,0.5);
	-o-animation-timing-function: cubic-bezier(0,0,1,0.5);
	opacity: 1;
}

.none{
	display: none;
}

/* CSS for device responsive */

@media all and (min-width:0px) and (max-width: 768px) {
	
	body{
		margin: 0px;
		padding: 0px;
	}

	h1{
		margin: 0px;
		min-height: 30%;
		width: 92%;
		padding: 4% 4%;
		font-size: 24px;
		text-align: left;
	}
	p{
		margin: 0px;
		min-height: 70%;
		width: 92%;
		padding: 3% 4%;
		font-size: 18px;
		text-align: left;
	}

	section.container{
	  width: 100%;
	  height: 200%;
	  overflow: hidden;
	  display: block;
	  top: 0;
	  transform: translateY(0%); 
	  }

	.container .left-half, .container .right-half {
		display: block;
		text-align: center;
		vertical-align: top;
		width: 100%;
		height: 50%
		}   

	div.left-half, div.right-half{
	  width: 100%;
	  height: 50%
	  }
	  
	article{
	  width: 100%;
	  height: 100%;
	  }  
	
	article img{
		width: 100%;
		height: 100%;
		border-radius: 10px 10px 0 0;
	} 
   
	
	.flip-images {
		width: 100%;
		height: 100%;
	}
	
	.flip-container{
		width: 100%;
		height: 100%;
		position: relative;
		-webkit-perspective: 600px;
		-moz-perspective: 600px;
		-ms-perspective: 600px;
		-o-perspective: 600px;
	}
	
	.flip-top{
		height: 50%;
		overflow: hidden;
		width: 100%;
	}
	
	.flip-bottom{
		position: relative;
		width: 100%;
		height: 50%;
	}
	
	.front-image-top{ 
		display: block;
		-webkit-backface-visibility: hidden; 
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		position: absolute;
		top: 0px;
		width: 100%;
		height: 50%; 
		overflow: hidden; 
		z-index: 600;
	}
	
	.front-image-bottom{ 
		height: 100%;
		width: 100%;
		overflow: hidden;
		vertical-align: bottom;
		position: absolute;
		z-index: -2;
	}
	
	.front-image-bottom section{
		position: absolute;
		top: -100%; 
	}
	
	.back-image-top{
		height: 50%;
		position: absolute;
		top: 0px;
		vertical-align: top;
		overflow: hidden;
		z-index: -1;
	}
	
	.back-image-bottom{
		display: none;
		position: absolute;
		top: 0px;
		height: 100%;
		-webkit-transform: rotateY(180deg) rotateZ(180deg); 
		-moz-transform: rotateY(180deg) rotateZ(180deg); 
		-ms-transform: rotateY(180deg) rotateZ(180deg); 
		-o-transform: rotateY(180deg) rotateZ(180deg); 
		overflow: hidden;
		width: 100%;
		
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		z-index: 800;
	}
	
	.back-image-bottom section{
		position: absolute;
		top: -100%;
	}
	
	.shadow-top-front{
		position: absolute;
		background: #000;
		z-index: 1000;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		opacity: 0; 
	}
	
	.shadow-top-back{
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100px;
		background: #000;
		z-index: 1000;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
	
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
	
		opacity: 1; 
	}
	
	.shadow-bottom{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		background: #000;
		opacity: 0;
	}
	
	
	@-webkit-keyframes flip{
		0% {
			-webkit-transform: rotate3d(1,0,0, 0deg);
		}
		50% {
			-webkit-transform: rotate3d(1,0,0, -180deg);
		}
		60% {
			-webkit-transform: rotate3d(1,0,0, -155deg);
		}
		70% {
			-webkit-transform: rotate3d(1,0,0, -140deg);
		}
		100% {
			-webkit-transform: rotate3d(1,0,0, -180deg);
		}
	}
	
	@-moz-keyframes flip{
		0% {	-moz-transform: rotate3d(1,0,0, 0deg);}
		50% {-moz-transform: rotate3d(1,0,0, -180deg);}
		60% {-moz-transform: rotate3d(1,0,0, -155deg);}
		70% {-moz-transform: rotate3d(1,0,0, -140deg);}
		100% {-moz-transform: rotate3d(1,0,0, -180deg);}
	}
	
	@-ms-keyframes flip{
		0% {	-ms-transform: rotate3d(1,0,0, 0deg);}
		50% {-ms-transform: rotate3d(1,0,0, -180deg);}
		60% {-ms-transform: rotate3d(1,0,0, -155deg);}
		70% {-ms-transform: rotate3d(1,0,0, -140deg);}
		100% {-ms-transform: rotate3d(1,0,0, -180deg);}
	}
	
	@-o-keyframes flip{
		0% {	-o-transform: rotate3d(1,0,0, 0deg);}
		50% {-o-transform: rotate3d(1,0,0, -180deg);}
		60% {-o-transform: rotate3d(1,0,0, -155deg);}
		70% {-o-transform: rotate3d(1,0,0, -140deg);}
		100% {-o-transform: rotate3d(1,0,0, -180deg);}
	}
	
	@-webkit-keyframes shadowTopFront {
		0% {opacity: 0;}
		70% {opacity: 1;}
		100% {opacity: 0;}
	}
	
	@-webkit-keyframes shadowTopBack {
		0% {	opacity: 0.8;}
		50% {opacity: 0;}
		60% {opacity: 0.05;}
		70% {opacity: 0.1;}
		100% {opacity: 0;}
	}
	
	@-webkit-keyframes shadowBottom {
		0% {opacity: 0;}
		50% {opacity: 0.6;}
		60% {opacity: 0.4;}
		70% {opacity: 0.3;}
		100% {opacity: 0.5;}
	}
	
	@-moz-keyframes shadowTopFront {
		0% {opacity: 0;}
		70% {opacity: 1;}
		100% {opacity: 0;}
	}
	
	@-moz-keyframes shadowTopBack {
		0% {	opacity: 0.8;}
		50% {opacity: 0;}
		60% {opacity: 0.05;}
		70% {opacity: 0.1;}
		100% {opacity: 0;}
	}
	
	@-moz-keyframes shadowBottom {
		0% {opacity: 0;}
		50% {opacity: 0.6;}
		60% {opacity: 0.4;}
		70% {opacity: 0.3;}
		100% {opacity: 0.5;}
	}
	
	@-ms-keyframes shadowTopFront {
		0% {opacity: 0;}
		70% {opacity: 1;}
		100% {opacity: 0;}
	}
	
	@-ms-keyframes shadowTopBack {
		0% {	opacity: 0.8;}
		50% {opacity: 0;}
		60% {opacity: 0.05;}
		70% {opacity: 0.1;}
		100% {opacity: 0;}
	}
	
	@-ms-keyframes shadowBottom {
		0% {opacity: 0;}
		50% {opacity: 0.6;}
		60% {opacity: 0.4;}
		70% {opacity: 0.3;}
		100% {opacity: 0.5;}
	}
	
	@-o-keyframes shadowTopFront {
		0% {opacity: 0;}
		70% {opacity: 1;}
		100% {opacity: 0;}
	}
	
	@-o-keyframes shadowTopBack {
		0% {	opacity: 0.8;}
		50% {opacity: 0;}
		60% {opacity: 0.05;}
		70% {opacity: 0.1;}
		100% {opacity: 0;}
	}
	
	@-o-keyframes shadowBottom {
		0% {opacity: 0;}
		50% {opacity: 0.6;}
		60% {opacity: 0.4;}
		70% {opacity: 0.3;}
		100% {opacity: 0.5;}
	}
		
	.flip {
		
		width: 100%;
		height: 50%;
		-webkit-transform-origin: bottom;
		-moz-transform-origin: bottom;
		-ms-transform-origin: bottom;
		-o-transform-origin: bottom;
	
		-webkit-animation: flip 1s; 
		-moz-animation: flip 1s;
		-ms-animation: flip 1s;
		-o-animation: flip 1s;
	
		-webkit-animation-iteration-count: 1; 
		
		-moz-animation-iteration-count: 1;
		-ms-animation-iteration-count: 1;
		-o-animation-iteration-count: 1;
	
		-webkit-animation-timing-function: cubic-bezier(0,0,1,0.5); 
		-moz-animation-timing-function: cubic-bezier(0,0,1,0.5);
		-ms-animation-timing-function: cubic-bezier(0,0,1,0.5);
		-o-animation-timing-function: cubic-bezier(0,0,1,0.5);
	
		-webkit-transform: rotate3d(1,0,0, 180deg); 
		-moz-transform: rotate3d(1,0,0, 180deg);
		-ms-transform: rotate3d(1,0,0, 180deg);
		-o-transform: rotate3d(1,0,0, 180deg);
	}
	
	
	
}



	